<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" th:action="@{/register}" id="registerForm">
    <label for="username">Username: </label>
    <input type="text" id="username" name="username"/><br/>
    <label for="password">Password: </label>
    <input type="password" id ="password" name="password"/><br/>
    <label for="confirm">Confirm password: </label>
    <input type="password"  id="confirm" name="confirm"/><br/>
    <label for="fullName">Full name: </label>
    <input type="text"  id = "fullName" name="fullName"/><br/>
    <label for="street">Street: </label>
    <input type="text" id="street" name="street"/><br/>
    <label for="city">City: </label>
    <input type="text"  id="city" name="city"/><br/>
    <label for="state">State: </label>
    <input type="text" id="state" name="state"/><br/>
    <label for="zip">Zip: </label>
    <input type="text" id="zip" name="zip"/><br/>
    <label for="phoneNumber">Phone: </label>
    <input type="text" id ="phoneNumber" name="phoneNumber"/><br/>
    <input type="submit" value="Register"/>
</form>

</body>
</html>